db/BATUSD_d.csv
db/BTCUSD_d.csv
db/DAIUSD_d.csv
db/EDOUSD_d.csv
db/EOSUSD_d.csv
db/ETCUSD_d.csv
db/ETHUSD_d.csv
db/ETPUSD_d.csv
db/LTCUSD_d.csv
db/NEOUSD_d.csv
db/OMGUSD_d.csv
db/REPUSD_d.csv
db/TRXUSD_d.csv
db/XLMUSD_d.csv
db/XMRUSD_d.csv
db/XVGUSD_d.csv
Guia.py
main.py
